# Dependencies
node_modules/
venv/
.venv/
__pycache__/
*.pyc

# Database & runtime files
*.sqlite
*.sqlite3
*.db
*.log

# Environment variables
.env.local

# Build output
dist/
build/
.coverage
htmlcov/
